* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Universo";
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    height: 70px;
    position: relative;
  }
  nav .main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  nav .mobile_nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    width: 100%;
    display: none;
  }
  nav .mobile_nav .mobile_logo {
    color: white;
  }
  nav .mobile_nav .image {
    height: 12px;
    width: 15px;
  }
  nav .mobile_nav .image img {
    height: 100%;
    width: 100%;
  }
  nav .main_nav span {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
  }
  nav .main_nav span a {
    text-decoration: none;
    color: black;
    opacity: 0.3;
    font-weight: 600;
  }
  nav .main_nav span .Contact_us {
    opacity: 1;
    color: #227aff;
    position: relative;
  }
  nav .main_nav span .book {
    background-color: #227aff;
    opacity: 1;
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }
  nav .main_nav span .gallery,
  .team {
    display: none;
  }
  nav .ham {
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: none;
  }
  nav .ham img {
    height: 100%;
    width: 100%;
  }
  @media screen and (max-width: 950px) {
    nav .ham {
      display: block;
    }
    nav {
      padding: 0 10px;
    }
    nav .main_nav span .gallery,
    .team {
      display: block;
    }
    nav .main_nav span .book {
      display: none;
      margin: 0;
      padding: 0;
    }
    nav .main_nav {
      position: absolute;
      height: 100vh;
      background-color: black;
      top: 0;
      left: 0;
      width: 100%;
      color: white;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      top: -150vh;
      transition: 0.5s;
      z-index: 999999;
    }
    nav .main_nav span {
      margin: 10px 0;
    }
    nav .main_nav span a {
      color: white;
      margin: 0;
      opacity: 1;
      padding: 0 15px;
    }
    nav .navAya {
      top: 0;
    }
    nav .main_nav .mobile_nav {
      display: flex;
    }
    nav .main_nav span .Contact_us::before {
      content: "";
      position: absolute;
      height: 110%;
      width: 4px;
      background-color: #227aff;
      left: 0;
      top: 0;
    }
  }


  /*  <!-- contact head --> */

  .contact_head{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    width: 100%;
    align-items: flex-start;
    position: relative;
    overflow-x: hidden;
  }
  .contact_head .image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    position: relative;
  }
  .contact_head .image img{
    height: 100%;
    width: 100%;
  }
  .contact_head .content{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .contact_head .two::before{
    content: '';
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: #227aff;
    z-index: -1;
    filter: blur(60px);
    opacity: .5;
    top: 30px;
  }
  @media screen and (max-width:930px) {
    .contact_head .one{
        height: 50px;
        width: 50px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .contact_head .two{
        height: 40px;
        width: 40px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
  }
  @media screen and (max-width:350px) {
    .contact_head .content h1{
        font-size: 1.5rem;
    }
    .contact_head .one{
        height: 50px;
        width: 50px;
        position: absolute;
        top: 10px;
        left: 0px;
    }
    .contact_head .two{
        height: 40px;
        width: 40px;
        position: absolute;
        top: 10px;
        right: 4px;
    }
  }


  /* details */

  .details{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 30px 0;
    flex-wrap: wrap;
  }
  .details .address{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px ;
    width: 300px;
    flex-direction: column;
    text-align: center;
    background-color: #FCFCFC;
    border-radius: 10px;
    margin: 20px;
  }
  .details .address .image{
    height: 25px;
    width: 15px;
  }
  .details .address .image img{
    height: 100%;
    width: 100%;
  }



  /* main_form */

  .main_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
  }
.main_form .image{
  height: 350px;
  width: 300px;
  margin: 10px;
}
.main_form .image img{
  height: 100%;
  width: 100%;
  filter: saturate(150%);
}
.main_form form{
  display: flex;
  justify-content: flex-start;
  height: 350px;
  width: 500px;
  margin: 10px 10px;
  background-color: #FCFCFC;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 10px;
}
.main_form form .name,.message{
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  justify-content: flex-start;
}
.main_form form .name{
  width: 48%;
}
.main_form form .message{
  width: 100%;
}

.main_form form .name  input{
  height: 40px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: white;
}
.main_form form .name  input::placeholder{
  opacity: .6;
}

.main_form form .message input{
  height: 40px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: white;
}
.main_form form .message  input::placeholder{
  opacity: .6;
}
.main_form form .btn{
  height: 40px;
  width: 150px;
  /* padding: 10px 30px; */
  background-color: #227AFF;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
}
@media screen and (max-width:840px) {
  .main_form{
    flex-direction: column-reverse;
    /* justify-content:; */
  }
  .main_form form{
    width: 90%;
    height: auto;
    margin: 30px auto;
  }
}
@media screen and (max-width:515px) {
  .main_form form .name{
    width: 100%;
  }
}
@media screen and (max-width:350px) {
  .main_form form{
    padding: 0;
  }
.main_form .image{
  height: 350px;
  width: 90%;
  margin: 10px auto;
}
}





/* footer */


.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:  20px;
  margin: 20px;
  background-color: black;
  color: white;
  flex-wrap: wrap;
}
.footer .f_one{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 30px 0;
  position: relative;
}
.footer .f_one .main_footer span{
  margin: 0 10px;
}
.footer .f_one .main_footer span .contact{
  color: #227aff;
}

.footer .f_one .main_footer span a{
  color: white;
  text-decoration: none;
  font-weight: normal;
}
.footer .f_one .social_links{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .f_one .social_links span{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 5px;
}
.footer .f_one .social_links span:nth-child(1){
  background-color: white;
}
.footer .f_one .social_links span:nth-child(2){
  border: 1px solid white;
}

.footer .f_one .social_links span a img{
  height: 20px;
  width: 12px;
}
@media screen and (max-width:1142px) {
  .footer .f_one{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
  }
  .footer .f_one .main_footer{
      display: flex;
      justify-content: flex-start;
      margin: 30px 0;
      text-align: left;
      flex-wrap: wrap;
      width: 100%;
  }
  .footer .f_one .main_footer span{
      margin: 10px;
  }
}
@media screen and (max-width:357px) {
  .footer .f_one .main_footer span{
      width: 100%;
  }
}

.footer .f_two{
  display: flex;
  width: 100%;
  padding: 10px 15px;
  justify-content: space-between;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
  align-items: center;
}
.footer .f_two .content{
  font-size: .7rem;
  font-weight: 300;
  margin: 5px;
}




